<aside is="about">
  <div>
    <div>
      <h4>{{ settings.heading_primary | escape }}</h4>
      <p>
        {{ settings.text_primary | escape }}
      </p>
    </div>
    <img
      is="in-action"
      src="{{ settings.image_primary | img_url : '900x' }}"
      alt="{{ settings.image_primary.img_alt }}"
      width="900"
      height="600"
      loading="lazy"
    />
  </div>
  <div>
    <div>
      <h5>{{ settings.heading_secondary | escape }}</h5>
      <p>
        {{ settings.text_secondary | escape }}
      </p>
    </div>
  </div>
  <div>
    <div>
      <h5>{{ settings.heading_tertiary | escape }}</h5>
      <p>
        {{ settings.text_tertiary | escape }}
      </p>
    </div>
  </div>
  {% if settings.show_link == true %}
    <p>
      <a is="signpost" href="{{ settings.link_url | escape }}">{{ settings.link_text | escape }}</a>
    </p>
  {% endif %}
</aside>
