<div is="hero-content">
  {% if section.settings.subtitle != blank %}
    <h4>{{ section.settings.subtitle | escape }}</h4>
  {% endif %}
  <h1>{{ section.settings.heading | escape }}</h1>
  <p>{{ section.settings.text }}</p>
  {%- if section.settings.link_url != blank -%}
    <a href="{{ section.settings.link_url }}" is="button">{{ section.settings.link_text }}</a>
  {%- endif -%}
</div>
