<div is="hero-content" class="{% if section.settings.is_dark %}dark{% endif %}">
  <div style="color: {{ section.settings.text_color }}">
    {% if section.settings.subtitle != blank %}
      <h4>{{ section.settings.subtitle | escape }}</h4>
    {% endif %}
    <h1>{{ section.settings.heading | escape }}</h1>
    {%- if section.settings.text != blank -%}
      <p>{{ section.settings.text }}</p>
    {%- endif -%}
  </div>
  {%- if section.settings.link_url != blank -%}
    <div is="button">{{ section.settings.link_text }}</div>
  {%- endif -%}
</div>
