<section is="logo-list" class="{% if section.settings.show_colour == true %}alternative{% endif %}{% if section.settings.no_top_padding == true %} no-top-padding{% endif %}">
  {% if section.settings.title != blank %}
    <h2>{{ section.settings.title | escape }}</h2>
  {% endif %}
  {% if section.settings.text != blank %}
    <p>{{ section.settings.text }}</p>
  {% endif %}

  {% if section.settings.title_secondary != blank %}
    <h3>{{ section.settings.title_secondary | escape }}</h3>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <ul is="logos">
      {% for block in section.blocks %}
        <li>
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}">
          {% endif %}
          {% if block.settings.image != blank %}
            <img
              src="{{ block.settings.image | img_url: '400x400' }}"
              class="{{ block.settings.image_size }}"
              alt="{{ block.settings.image.alt }}"
              loading="lazy"
              width="{{block.settings.image.width}}"
              height="{{block.settings.image.height}}"
              />
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}

  {% if section.settings.show_signpost_link %}
    <p>
      <a is="signpost" href="{{ section.settings.link_url }}" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
        {{ section.settings.link_text }}</a>
    </p>
  {% endif %}

</section>
