<div class="filter-group">
  <h5>Collection</h5>
  <div class="collection-checkboxes">
    {%- assign collections_array = all_collections | split: ',' -%}
    {%- for collection_handle in collections_array -%}
      {%- assign filter_collection = collections[collection_handle] -%}
      {%- if filter_collection -%}
        <div class="collection-checkbox-item">
          {%- if id_prefix != '' -%}
            <input type="radio" id="filter-collection-{{ id_prefix }}-{{ collection_handle }}" name="collection-filter" value="{{ collection_handle }}" data-collection-handle="{{ collection_handle }}">
            <label for="filter-collection-{{ id_prefix }}-{{ collection_handle }}">
              <span class="label-text">{{ filter_collection.title }}</span>
              <span class="filter-count" data-collection-handle="{{ collection_handle }}"></span>
            </label>
          {%- else -%}
            <input type="radio" id="filter-collection-{{ collection_handle }}" name="collection-filter" value="{{ collection_handle }}" data-collection-handle="{{ collection_handle }}">
            <label for="filter-collection-{{ collection_handle }}">
              <span class="label-text">{{ filter_collection.title }}</span>
              <span class="filter-count" data-collection-handle="{{ collection_handle }}"></span>
            </label>
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
<div class="filter-group">
  <h5>Price Range</h5>
  <div class="price-checkboxes">
    <div class="price-checkbox-item">
      {%- if id_prefix != '' -%}
        <input type="checkbox" id="filter-price-{{ id_prefix }}-10" name="price-range" value="10" data-price-value="10">
        <label for="filter-price-{{ id_prefix }}-10">
          <span class="label-text">Under £10</span>
          <span class="filter-count" data-price-value="10"></span>
        </label>
      {%- else -%}
        <input type="checkbox" id="filter-price-10" name="price-range" value="10" data-price-value="10">
        <label for="filter-price-10">
          <span class="label-text">Under £10</span>
          <span class="filter-count" data-price-value="10"></span>
        </label>
      {%- endif -%}
    </div>
    <div class="price-checkbox-item">
      {%- if id_prefix != '' -%}
        <input type="checkbox" id="filter-price-{{ id_prefix }}-15" name="price-range" value="15" data-price-value="15">
        <label for="filter-price-{{ id_prefix }}-15">
          <span class="label-text">Under £15</span>
          <span class="filter-count" data-price-value="15"></span>
        </label>
      {%- else -%}
        <input type="checkbox" id="filter-price-15" name="price-range" value="15" data-price-value="15">
        <label for="filter-price-15">
          <span class="label-text">Under £15</span>
          <span class="filter-count" data-price-value="15"></span>
        </label>
      {%- endif -%}
    </div>
    <div class="price-checkbox-item">
      {%- if id_prefix != '' -%}
        <input type="checkbox" id="filter-price-{{ id_prefix }}-20" name="price-range" value="20" data-price-value="20">
        <label for="filter-price-{{ id_prefix }}-20">
          <span class="label-text">Under £20</span>
          <span class="filter-count" data-price-value="20"></span>
        </label>
      {%- else -%}
        <input type="checkbox" id="filter-price-20" name="price-range" value="20" data-price-value="20">
        <label for="filter-price-20">
          <span class="label-text">Under £20</span>
          <span class="filter-count" data-price-value="20"></span>
        </label>
      {%- endif -%}
    </div>
  </div>
</div>
{%- if all_age_ranges != blank -%}
<div class="filter-group">
  <h5>Age Range</h5>
  <div class="age-range-checkboxes">
    {%- assign age_ranges_array = all_age_ranges | split: ',' -%}
    {%- for age_range in age_ranges_array -%}
      {%- assign age_range_trimmed = age_range | strip -%}
      {%- if age_range_trimmed != '' -%}
        <div class="age-range-checkbox-item">
          {%- if id_prefix != '' -%}
            <input type="checkbox" id="filter-age-range-{{ id_prefix }}-{{ age_range_trimmed | handleize }}" name="age-range" value="{{ age_range_trimmed }}" data-age-range="{{ age_range_trimmed }}">
            <label for="filter-age-range-{{ id_prefix }}-{{ age_range_trimmed | handleize }}">
              <span class="label-text">{{ age_range_trimmed }}</span>
              <span class="filter-count" data-age-range="{{ age_range_trimmed }}"></span>
            </label>
          {%- else -%}
            <input type="checkbox" id="filter-age-range-{{ age_range_trimmed | handleize }}" name="age-range" value="{{ age_range_trimmed }}" data-age-range="{{ age_range_trimmed }}">
            <label for="filter-age-range-{{ age_range_trimmed | handleize }}">
              <span class="label-text">{{ age_range_trimmed }}</span>
              <span class="filter-count" data-age-range="{{ age_range_trimmed }}"></span>
            </label>
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
{%- endif -%}

