{{ 'product-carousel-item.css' | asset_url | stylesheet_tag }}

<div is="product-carousel-item" class="product-item" data-id="{{ product.variants.first.id }}">
  <a href="{{ product.url }}" >
    <div class="image" style="background: {{ section.settings.bg_color_1 }}">
      <img
        alt="{{ product.featured_image.alt }}"
        src="{{ product.featured_media | img_url: '600x' }}"
        loading="lazy"
        width="600"
        height="400"
      />
    </div>
    <div class="content" style="background: {{ section.settings.bg_color_2 }}">
      <h3 style="color: {{ section.settings.text_color }} !important">{{ product.title }}</h3>
      <p style="color: {{ section.settings.text_color }} !important">{{ product.price | money }}</p>
    </div>
  </a>
  
  {% comment %} {%- if product.metafields.product.is_new == true -%}
    <div class="new">New</div>
  {%- endif -%} {% endcomment %}
</div>
