{{ 'signpost.css' | asset_url | stylesheet_tag }}

{% if button == true %}
  {%- assign button_style = 'button' -%}
{% else %}
  {%- assign button_style = 'text-button' -%}
{% endif %}

{% if section.settings.show_signpost_link %}
  <div is="signpost">
    <a is="{{ button_style }}" href="{{ section.settings.link_url }}">
        {{ section.settings.link_text }}
    </a>
  </div>
{% endif %}
{% comment %} aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}" {% endcomment %}