{{ 'universal-features.css' | asset_url | stylesheet_tag }}

<div is="universal-features">
  <ul>
    <li>
      <img 
        src="{{ 'features-creative.png' | asset_url }}"
        alt="Icon representing the creative nature of play that Playpress offers"
        loading="lazy"
        width="400"
        height="400"
      />
      <div>
        <h4>Varied creative play</h4>
        <p>All PlayPress sets can be switched up, adjusted and connected, so there’s no limits on imagination and every playtime is different.</p>
      </div>
    </li>
    {% comment %} <li>
      <img 
        src="{{ 'features-age.png' | asset_url }}"
        alt="Icon representing the age range that Playpress sets are suitable for"
        loading="lazy"
        width="400"
        height="400"
      />
      <div>
        <h4>Perfect for ages 4+</h4>
        <p>Develop construction, problem solving and motor skills whilst exploring characters and storytelling.</p>
      </div>
    </li> {% endcomment %}
    <li>
      <img 
        src="{{ 'features-waste.png' | asset_url }}"
        alt="Icon representing the lack of waste created from Playpress sets"
        loading="lazy"
        width="400"
        height="400"
      />
      <div>
        <h4>Zero-waste and super-easy</h4>
        <p>Lightweight flatpack packaging makes it travel-friendly with no bulky plastic or complicated set-up.</p>
      </div>
    </li>
    <li>
      <img 
        src="{{ 'features-eco.png' | asset_url }}"
        alt="Icon representing the sustainable nature of Playpress sets"
        loading="lazy"
        width="400"
        height="400"
      />
      <div>
        <h4>Eco-conscious</h4>
        <p>Manufactured in the UK with Playboard, our compostable material made with wood pulp from sustainably-managed forests.</p>
      </div>
    </li>
  </ul>
</div>