{{ 'universal-features.css' | asset_url | stylesheet_tag }}

<div is="universal-features">
  <ul>
    <li>
      <h4>{{ 'general.universal_features.creative.title' | t }}</h4>
      <p>{{ 'general.universal_features.creative.text' | t }}</p>
    </li>
    <li>
      <h4>{{ 'general.universal_features.age.title' | t }}</h4>
      <p>{{ 'general.universal_features.age.text' | t }}</p>
    </li>
    <li>
      <h4>{{ 'general.universal_features.waste.title' | t }}</h4>
      <p>{{ 'general.universal_features.waste.text' | t }}</p>
    </li>
    <li>
      <h4>{{ 'general.universal_features.eco.title' | t }}</h4>
      <p>{{ 'general.universal_features.eco.text' | t }}</p>
    </li>
  </ul>
</div>