{{ 'universal-features-mini.css' | asset_url | stylesheet_tag }}

<div is="universal-features-mini">
  <ul>
    <li>
      <img src="{{ 'sturdy-and-durable.png' | asset_url }})"  alt="An icon design to show Sturdy and durable" />
      <h4>Sturdy and durable</h4>
    </li>
    {% comment %} <li>
      <img src="{{ 'storytelling.png' | asset_url }})"  alt="An icon design to show Storytelling" />
      <h4>Storytelling</h4>
    </li> {% endcomment %}
    <li>
      <img src="{{ 'made-in-the-uk.png' | asset_url }})"  alt="An icon design to show Made in the UK" />
      <h4>Made in the UK</h4>
    </li>
    <li>
      <img src="{{ 'sustainably-sourced-board.png' | asset_url }})"  alt="An icon design to show Sustainably sourced board" />
      <h4>Sustainably sourced board</h4>
    </li>
    <li>
      <img src="{{ 'recyclable.png' | asset_url }})"  alt="An icon design to show Recyclable" />
      <h4>Recyclable</h4>
    </li>
    {% comment %} <li>
      <img src="{{ 'imagination-and-creativity.png' | asset_url }})"  alt="An icon design to show Imagination and creativity" />
      <h4>Imagination and creativity</h4>
    </li> {% endcomment %}
    <li>
      <img src="{{ 'engineering-skills.png' | asset_url }})"  alt="An icon design to show Engineering skills" />
      <h4>Engineering skills</h4>
    </li>
    <li>
      <img src="{{ 'plant-based-inks.png' | asset_url }})"  alt="An icon design to show Plant based inks" />
      <h4>Plant based inks</h4>
    </li>
  </ul>
</div>