<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin />
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com" />

    <script
      src="{{ 'dark-mode-toggle.js' | asset_url }}"
      type="module"
    ></script>
    <script src="{{ 'main.js' | asset_url }}" type="module"></script>

    <link
      href="{{ 'light.css' | asset_url }}"
      rel="stylesheet"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="{{ 'dark.css' | asset_url }}"
      rel="stylesheet"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="stylesheet"
      href="{{ 'theme.css' | asset_url }}"
      type="text/css"
    />

    {%- if canonical_url != blank -%}
    <link rel="canonical" href="{{ canonical_url }}" />
    {%- endif -%}

    <link type="image/svg+xml" href="{{ 'favicon.svg' | asset_url }}" rel="icon" />

    {%- capture seo_title -%}
      {%- if request.page_type == 'search' and search.performed == true -%}
        {{
          "general.search.heading" | t: count:search.results_count
        }}:
      {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{
          page_title
        }}
      {%- endif -%}

      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%}
        &ndash;
        {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}

      {%- if current_page != 1 -%}
        &ndash;
        {{
          "general.meta.page" | t: page:current_page
        }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash;
        {{
          shop.name
        }}
      {%- endunless -%}
    {%- endcapture -%}

    {%- assign og_title = page_title | default: shop.name -%}
    {%- assign og_url = canonical_url | default: shop.url -%}
    {%- assign og_type = 'website' -%}
    {%- assign og_description = page_description | default: shop.description | default: shop.name -%}
    {% if page_image %}
      {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ page_image | img_url: '1200x1200' }}">{%- endcapture -%}
      {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ page_image | img_url: '1200x1200' }}">{%- endcapture -%}
    {% endif %}

    {% comment %} Template specific overides {% endcomment %}
    {% if request.page_type == 'product' %}
      {%- assign og_type = 'product' -%}
      {% if product.media.size > 0 %}
        {%- capture og_image_tags -%}{% for media in product.media limit:3 -%}<meta property="og:image" content="http:{{ media | img_url: '1200x1200' }}">{% endfor -%}{% endcapture -%}
        {%- capture og_image_secure_url_tags -%}{% for media in product.media limit:3 -%}<meta property="og:image:secure_url" content="https:{{ media | img_url: '1200x1200' }}">{% endfor -%}{% endcapture -%}
      {% endif %}

    {% elsif request.page_type == 'article' %}
      {%- assign og_type = 'article' -%}
      {% if article.image %}
        {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ article.image | img_url: '1200x1200' }}">{%- endcapture -%}
        {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1200x1200' }}">{%- endcapture -%}
      {% endif %}

    {% elsif request.page_type == 'collection' %}
      {%- assign og_type = 'product.group' -%}
      {% if collection.image %}
        {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ collection.image | img_url: '1200x1200' }}">{%- endcapture -%}
        {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ collection.image | img_url: '1200x1200' }}">{%- endcapture -%}
      {% endif %}

    {% elsif request.page_type == 'password' %}
      {%- assign og_url = shop.url -%}
    {% endif %}

    <title>{{ seo_title | strip }}</title>

    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}" />
    {%- endif -%}

    <meta property="og:site_name" content="{{ shop.name }}">
    <meta property="og:url" content="{{ og_url }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:type" content="{{ og_type }}">
    <meta property="og:description" content="{{ og_description }}">
    {% if request.page_type == 'product' %}
      <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
      <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">
    {% endif %}
    {{ og_image_tags }}
    {{ og_image_secure_url_tags }}
    {% unless settings.social_twitter_link == blank %}
      <meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
    {% endunless %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ og_title }}">
    <meta name="twitter:description" content="{{ og_description }}">
    {{ content_for_header }}
  </head>

  <body>
    {% section 'skip' %}
    {% section 'header' %}
    {% section 'breadcrumbs' %}
    <main id="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </body>
</html>
