{{ 'accordian.js' | asset_url | script_tag }}
{{ 'accordian.css' | asset_url | stylesheet_tag }}

<section is="section">

  {% render 'section-header', title: section.settings.title, text: section.settings.text, center: false %}

  <div is="accordian">
    <div id="accordian-content">

        {% for block in section.blocks %}
          <article is="accordian-item" class="accordian-item">
            <header>
                <h4>{{ block.settings.title | escape }}</h4>
            </header>
            <div><p>{{ block.settings.text }}</p></div>
          </article>
        {% endfor %}

    </div>
      <div id="accordian-images">
        {% for block in section.blocks %}
          <img
            src="{{ block.settings.image | img_url: '800x' }}"
            alt=""
            is="in-action"
            loading="lazy"
            width="800"
            height="600"
            class="accordian-image"
            />
        {% endfor %}
      </div>
  </div>
</section>

{% schema %}
{
  "name": "Accordian",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Add a heading"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "accordian_item",
      "name": "accordian item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "<p>Add descriptve text</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordian",
      "blocks": [
        {
          "type": "accordian_item"
        },
        {
          "type": "accordian_item"
        },
        {
          "type": "accordian_item"
        }
      ]
    }
  ]
}
{% endschema %}
