{{ 'awards.css' | asset_url | stylesheet_tag }}

<section is="awards">
  {% for block in section.blocks %}
    <article is="award">
      <div is="gallery">
        {%- if block.settings.image == blank -%}
          {{ "lifestyle-1" | placeholder_svg_tag: "placeholder-svg" }}
        {%- else -%}
          <img
            src="{{ block.settings.image | img_url: 'master' }}"
            alt="{{ block.settings.image.alt }}"
            width="900"
            height="600"
            is="in-action"
            loading="lazy"
          />
        {%- endif -%}
      </div>
      <div is="content">
        <div is="main-content">
          <h4>{{ block.settings.date | escape }}</h4>
          <h3>{{ block.settings.award | escape }}</h3>
          <h2>{{ block.settings.title | escape }}</h2>
          <p>{{ block.settings.text }}</p>
        </div>
        {%- if block.settings.image == blank -%}
          <div is="product">
            <a is="product-link" href="{{ product.url }}">
              <img
                alt="{{ block.product.featured_image.alt }}"
                src="{{ block.product.featured_media | img_url: '400x' }}"
                loading="lazy"
                width="400"
                height="200"
              />
              <div>
                <p>{{ block.product.title }}</p>
                <span>{{ block.product.price | money }}</span>
              </div>
            </a>
          </div>
        {%- endif -%}
      </div>
    </article>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Awards",
  "settings": [
  ],
  "blocks": [
    {
      "type": "award",
      "name": "Award",
      "settings": [
        {
          "type": "text",
          "id": "date",
          "label": "Date",
          "default": "Add a date"
        },
        {
          "type": "text",
          "id": "award",
          "label": "Award Body",
          "default": "Add an award body"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Award title",
          "default": "Add a title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Placing",
          "info": "Optional"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"      
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Awards",
      "blocks": [
        {
          "type": "award"
        },
        {
          "type": "award"
        },
        {
          "type": "award"
        },
        {
          "type": "award"
        }
      ]
    }
  ]
}
{% endschema %}
