{{ 'banner.css' | asset_url | stylesheet_tag }}

<section is="banner">
  <a href="{{ section.settings.link_url }}">
    <div>
      <div class="banner-content">

        {%- if section.settings.image == blank -%}
          {{ "lifestyle-1" | placeholder_svg_tag: "placeholder-svg" }}
        {%- else -%}
          <img
            src="{{ section.settings.image | img_url: 'master' }}"
            alt=""
            width="900"
            height="600"
            is="in-action"
            loading="lazy"
          />
        {%- endif -%}

        <div is="hero-content">
          <div>
            <h2>{{ section.settings.heading | escape }}</h2>
            <h3>{{ section.settings.text }}</h3>
          </div>
          <div is="button">{{ section.settings.link_text }}</div>
        </div>
        
      </div>
    </div>
  </a>
</section>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
    "id": "heading",
    "type": "text",
    "label": "Heading",
    "default": "Add a title"
    },
    {
      "id": "text",
      "type": "text",
      "label": "Text",
      "default": "Add descriptive text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}
