{{ 'big-banner.css' | asset_url | stylesheet_tag }}

<section is="big-banner">
  <a href="{{ section.settings.link_url }}">
    <div>
      {%- if section.settings.background_image == blank -%}
        <div class="banner-content" style="background: {{ section.settings.bg_color }}">
      {%- else -%}
        <div class="banner-content" style="background-image: url({{ section.settings.background_image | img_url: 'master' }})">
      {%- endif -%}

        {%- if section.settings.image == blank -%}
          {{ "lifestyle-1" | placeholder_svg_tag: "placeholder-svg" }}
        {%- else -%}
          <img
            src="{{ section.settings.image | img_url: 'master' }}"
            alt="{{ section.settings.image.alt }}"
            width="900"
            height="600"
            is="in-action"
            loading="lazy"
          />
        {%- endif -%}

        <div is="hero-content">
          <h2 style="color: {{ section.settings.text_color }} !important">{{ section.settings.heading | escape }}</h2>
          <h3 style="color: {{ section.settings.text_color }} !important">{{ section.settings.text }}</h3>
          {%- if section.settings.subtext != blank -%}
            <p style="color: {{ section.settings.text_color }} !important">{{ section.settings.subtext }}</p>
          {%- endif -%}
          <div is="button">{{ section.settings.link_text }}<div class="icon arrow-right"></div></div>
        </div>

        
      </div>
    </div>
  </a>
</section>

{% schema %}
{
  "name": "Big Banner",
  "settings": [
    {
    "id": "heading",
    "type": "text",
    "label": "Heading",
    "default": "Add a title"
    },
    {
      "id": "text",
      "type": "text",
      "label": "Text",
      "default": "Add descriptive text"
    },
    {
      "id": "subtext",
      "type": "text",
      "label": "Sub text",
      "default": ""
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "background_image",
      "type": "image_picker",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#2D8872"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "Big Banner"
    }
  ]
}
{% endschema %}
