{{ 'breadcrumbs.css' | asset_url | stylesheet_tag }}

{%- if template == 'product' -%} {%- assign t = template | split: '.' | first
-%}
  <ul is="breadcrumbs" class="christmas">
    <li>
      <a href="/">Home</a>
    </li>
    {%- case t -%}
      {%- when 'product' -%}
        <li>
          <a href="/pages/shop/" aria-current="page">Shop</a>
        </li>
        <li class="active">
          <p><span>{{ product.title | remove: "Eco-Friendly Playset" | remove: "Eco Friendly Playset" | remove: "Playset" | remove: "Eco"}}<span></p>
        </li>
      {%- when 'collection' and collection.handle -%}
        {%- if current_tags -%}
          <li>
            <a href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
          </li>
          <li class="active">
            <p><span>{{ current_tags | join: " + " }}<span></p>
          </li>
        {%- else -%}
          <li class="active">
            <p><span>{{ collection.title }}<span></p>
          </li>
        {%- endif -%}
      {%- else -%}
        <li class="active">
          <p><span>
            {% if page.title %}
              {{ page.title }}
            {% else %}
              Shop
            {% endif %}
          <span></p>
        </li>
    {%- endcase -%}
  </ul>
{%- endif -%}
