{% assign isEmpty = true %}
{% assign collection_count = section.blocks.size %}

{% if collection_count > 0 %}
  {% assign isEmpty = false %}
{% endif %}

<section is="section">
  {% if section.settings.title != blank %}
      <h2>{{ section.settings.title | escape }}</h2>
  {% endif %}
  {% if section.settings.text != blank %}
    <p>{{ section.settings.text }}</p>
  {% endif %}

  <div class="site-box box--big lap--box--small-fl box--typo-big box--center-align box--column-flow box__heading box--add-hr {% if collection__count == 1 %} fix-me-with-height-hard {% endif %}" data-order="0">

    <div class="site-box-content fix-me-with-margin">
          
      <h1 class="title">{{ page.title | escape }}</h1>
      {% unless section.settings.caption == blank %}
        <div class="rte"><div>{{ section.settings.caption }}</div></div>
      {% endunless %}

    </div>

  </div>

  {% unless section.blocks == empty %}

    <div class="collection__holder">
      {% for block in section.blocks %}
        {% assign collection = collections[block.settings.collection] %}
        {% assign collection_handle = collection.handle %}
        <div>{{ collection.settings.id }}</div>
        {% comment %} {% render 'collection-item', collection: collection, collection_count: collection_count, index: forloop.index %} {% endcomment %}
      {% endfor %}
    </div>

  {% endunless %}

</section>

{% schema %}
{
  "name": "Collections",
  "tag": "section",
  "class": "collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collections"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": {
        "en": "Collection"
      },
      "settings": [
        {
          "label": {
            "en": "Collection"
          },
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}