{{ 'content-with-product.css' | asset_url | stylesheet_tag }}

<section is="content-with-product" class="{% if section.settings.layout == 'right' %}swapped{% endif %} product-item" data-id="{{ section.settings.product.variants.first.id }}">
  <div is="gallery">
    {%- if section.settings.image == blank -%}
      {{ "lifestyle-1" | placeholder_svg_tag: "placeholder-svg" }}
    {%- else -%}
      <img
        src="{{ section.settings.image | img_url: 'master' }}"
        alt="{{ section.settings.image.alt }}"
        width="900"
        height="600"
        is="in-action"
        loading="lazy"
      />
    {%- endif -%}
  </div>
  <div is="content">
    <div is="main-content">
      <h4>{{ section.settings.date | escape }}</h4>
      <h3>{{ section.settings.award | escape }}</h3>
      <h2>{{ section.settings.title | escape }}</h2>
      <p>{{ section.settings.text }}</p>
    </div>
    <div is="product">
      {% render 'product-promo', product: section.settings.product %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Content with product",
  "settings": [
    {
      "type": "text",
      "id": "date",
      "label": "Date",
      "default": "Add a date"
    },
    {
      "type": "text",
      "id": "award",
      "label": "Award",
      "default": "Add an award body"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Add a title"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "info": "Optional"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"      
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Image alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content with product"
    }
  ]
}
{% endschema %}
