{{ 'content-blocks-highlight.css' | asset_url | stylesheet_tag }}

<section is="section">

  <div is="content-blocks-highlight">
    <div>
      {% for block in section.blocks %}
        <article is="content-block-highlight" style="background: {{ block.settings.bg_color }}">
          {% if block.settings.image != blank %}
              <img
                src="{{ block.settings.image | img_url: '800x' }}"
                alt="{{ block.settings.image.alt }}"
                is="in-action"
                loading="lazy"
                width="800"
                height="600"
                />
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          <div>
            {% if block.settings.title != blank %}
              <h4 style="color: {{ block.settings.text_color }}">{{ block.settings.title | escape }}</h4>
            {% endif %}
            {% if block.settings.text != blank %}
              <p style="color: {{ block.settings.text_color }}">{{ block.settings.text }}</p>
            {% endif %}
          </div>
        </article>
      {% endfor %}
      {% if section.blocks.size == 0 %}
        {% render 'no-blocks' %}
      {% endif %}
    </div>
  </div>

</section>

{% schema %}
{
  "name": "Content Blocks Highlight",
  "settings": [
  ],
  "blocks": [
    {
      "type": "content_block_highlight",
      "name": "Content block highlight",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Add descriptve text</p>"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color",
          "default": "#2D3788"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#FFFFFF"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Content Blocks Highlight",
      "blocks": [
        {
          "type": "content_block_highlight"
        },
        {
          "type": "content_block_highlight"
        },
        {
          "type": "content_block_highlight"
        },
        {
          "type": "content_block_highlight"
        }
      ]
    }
  ]
}
{% endschema %}
