{{ 'delivery-bar.css' | asset_url | stylesheet_tag }}

<a href="{{ settings.delivery_bar_link_url | default: '/pages/delivery' }}" is="delivery-bar">
  <ul>
    <div class="icon delivery"></div>
    <li>{{ settings.delivery_bar_primary_text }} <span class="not-mobile">{{ settings.delivery_bar_primary_subtext }}</span></li>
    {%- if settings.delivery_bar_secondary_text != blank -%}
      <div class="dot not-mobile-tablet"></div>
      <li class="not-mobile-tablet">{{ settings.delivery_bar_secondary_text }}</li>
    {%- endif -%}
  </ul>
</a>

{% schema %}
{
  "name": "Delivery bar",
  "settings": []
}
{% endschema %}