{{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'nav.css' | asset_url | stylesheet_tag }}

<header is="header" role="banner" class="christmas">
  <a href="{{ routes.root_url }}" aria-label="Playpress">
    <img 
      src="{{ 'logo-no-r.svg' | asset_url }}"
      alt="Playpress logo"
      loading="lazy"
      width="600"
      height="400"
    />
  </a>
  <nav is="menu">
    <ul>
      {% for link in linklists.main-menu.links %}
          <li {% if link.active %} class="on"{% endif %}>
            <a href="{{ link.url }}"
              {% if link.current %} aria-current="page"{% endif %}
            >{{ link.title }}
            </a>
          </li>
      {% endfor %}
    </ul>
  </nav>
  <p>
    <a href="/cart">
      <strong>{{ cart.item_count }}</strong> Cart {{ cart.total_price | money }}
    </a>
  </p>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
