{{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'nav.css' | asset_url | stylesheet_tag }}

{% comment %} <header is="header" role="banner" class="christmas"> {% endcomment %}
<header is="header" role="banner">
  <a href="{{ routes.root_url }}" aria-label="Playpress">
    <img 
      src="{{ 'logo-no-r.svg' | asset_url }}"
      alt="Playpress logo"
      loading="lazy"
      width="600"
      height="400"
    />
  </a>
  <nav is="menu">
    <ul>
      <li>
        <a href="/pages/shop">
          Shop
        </a>
        <div class="dropdown">
          <ul>
            {% for link in linklists.dropdown-merchandising.links %}
              <li>
                <a is="collection-link" href="{{ link.url }}">
                  <p>{{ link.title }}</p>
                </a>
              </li>
            {% endfor %}
            <div class="divider"></div>
            {% for link in linklists.collections.links %}
              <li>
                <a is="collection-link" href="{{ link.url }}">
                  <p>{{ link.title }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
      <li>
        <a href="/pages/studio">
          Studio
        </a>
      </li>
      <li>
        <a href="/pages/stock-us">
          Stock us
        </a>
      </li>
      <li>
        <a href="/pages/about">
          About
        </a>
        <div class="dropdown">
          <ul>            
            {% for link in linklists.about-menu.links %}
              <li>
                <a is="collection-link" href="{{ link.url }}">
                  <p>{{ link.title }}</p>
                </a>
              </li>
            {% endfor %}
            <div class="divider"></div>
            <li>
              <a is="collection-link" href="pages/contact">
                <p>Contact us</p>
              </a>
            </li>
          </ul>
        </div>
      </li>
      {% comment %} {% for link in linklists.main-menu.links %}
        {% unless link.title == "Shop" %}
          <li {% if link.active %} class="on"{% endif %}>
            <a href="{{ link.url }}"
              {% if link.current %} aria-current="page"{% endif %}
            >{{ link.title }}
            </a>
          </li>
        {% endunless %}
      {% endfor %} {% endcomment %}
    </ul>
  </nav>
  <p id="cart">
    <a href="/cart">
      <span class="icon cart"></span>
      <strong id="header-cart-item-count">{{ cart.item_count }}</strong>
      <span id="header-cart-total">{{ cart.total_price | money }}</span>
    </a>
  </p>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
