{{ 'hero.css' | asset_url | stylesheet_tag }}

{% comment %} style="background-image: url({{ section.settings.image | img_url: 'master' }})" {% endcomment %}
<section is="hero">
  <a href="{{ section.settings.link_url }}">
    <div is="hero-main" class="{% if section.settings.is_large %}large{% endif %}">
      
      {%- if section.settings.background_image == blank -%}
        <div is="hero-background" style="background: {{ section.settings.bg_color }}"></div>
      {%- else -%}
        <div is="hero-background" style="background-image: url({{ section.settings.background_image | img_url: 'master' }})"></div>
      {%- endif -%}
      
      <img
        src="{{ section.settings.image | img_url: 'master' }}"
        alt="{{ section.settings.image.alt }}"
        is="in-action"
        loading="lazy"
        width="1200"
        height="800"
        />
      {% render 'hero-content', section: section %}
    </div>
  </a>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
    "id": "heading",
    "type": "text",
    "label": "Heading",
    "default": "Add a title"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Subtitle",
      "default": "Add a subtitle"
      },
    {
      "id": "text",
      "type": "text",
      "label": "Text",
      "default": "Add descriptive text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#EBEDFA"
    },
    {
      "type": "checkbox",
      "id": "is_large",
      "label": "Use largest text",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "is_dark",
      "label": "Use dark mode",
      "default": true
    },
    {
      "id": "background_image",
      "type": "image_picker",
      "label": "Background Image"
    }
    
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
