<section is="image-with-text" class="{% if section.settings.layout == 'right' %}swapped{% endif %}{% if section.settings.show_colour == true %} alternative{% endif %}{% if section.settings.last_on_page == true %} last{% endif %}">
  {% if section.settings.image != blank %}
    <img
      src="{{ section.settings.image | img_url: '800x' }}"
      alt="{{ section.settings.image.alt | escape }}"
      is="in-action"
      loading="lazy"
      width="{{section.settings.image.width}}"
      height="{{section.settings.image.height}}"
    />
  {% else %}
    {{ "image" | placeholder_svg_tag: "placeholder-svg" }}
  {% endif %}

  <div>
    {% if section.settings.title != blank %}
      <h3>{{ section.settings.title | escape }}</h3>
    {% endif %}

    <p>{{ section.settings.text }}</p>

    {% if section.settings.link_text != blank %}
      <p>
        <a
          href="{{ section.settings.link_url }}"
          is="signpost"
        >
          {{ section.settings.link_text | escape }}
        </a>
      </p>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Image alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_colour",
      "label": "Show background colour",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "last_on_page",
      "label": "Last on page?",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Image with text"
    }
  ]
}
{% endschema %}
