{{ 'intro.css' | asset_url | stylesheet_tag }}

<section is="intro" {%- if section.settings.image != blank -%}class="with-image"{%- endif -%}>
  <div>
    {%- if section.settings.image != blank -%}
      <img
        src="{{ section.settings.image | img_url: '900x' }}"
        alt="{{ section.settings.image.alt }}"
        width="900"
        height="600"
        is="in-action"
        loading="lazy"
      />
    {%- endif -%}
    <div>
      {%- if section.settings.heading != blank -%}
        <h1>{{ section.settings.heading | escape }}</h1>
      {%- endif -%}
      {%- if section.settings.text != blank -%}
        <p is="lede">{{ section.settings.text | escape }}</p>
      {%- endif -%}
      {%- if section.settings.link_url != blank -%}
        <a href="{{ section.settings.link_url }}" is="text-button">{{ section.settings.link_text }}</a>
      {%- endif -%}
    </div>
    {% if section.settings.show_delivery_info == true %}
      <div is='delivery-container'>{% render 'delivery' %}</div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Intro",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Intro"
    },
    {
    "id": "text",
    "type": "text",
    "label": "Text",
    "default": "Introduce this page"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
    "id": "image",
    "type": "image_picker",
    "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "show_delivery_info",
      "label": "Show delivery information",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Intro"
    }
  ]
}
{% endschema %}
