{{ 'page-features.css' | asset_url | stylesheet_tag }}

<section is="section" class="alternative">

  <div is="page-features">
    <div>

      

      {% for block in section.blocks %}

        {% if block.settings.image != blank %}
          <article
            is="page-feature"
            style="background-image: url({{ block.settings.image | img_url: 'master' }})">
        {% else %}
          <article is="page-feature">
        {% endif %}
          <div>
            {% if block.settings.title != blank %}
              <h4>{{ block.settings.title | escape }}</h4>
            {% endif %}
            {% if block.settings.subtitle != blank %}
              <h3>{{ block.settings.subtitle | escape }}</h3>
            {% endif %}
            {% if block.settings.text != blank %}
              <p>{{ block.settings.text }}</p>
            {% endif %}
            {% if block.settings.link_text != blank %}
              <a href="{{ block.settings.link_url }}" is="text-button">{{ block.settings.link_text }}</a>
            {% endif %}
          </div>
        </article>
      {% endfor %}

      {% if section.blocks.size == 0 %}
        {% render 'no-blocks' %}
      {% endif %}
    </div>
  </div>

</section>

{% schema %}
{
  "name": "Page features",
  "settings": [
  ],
  "blocks": [
    {
      "type": "page_feature",
      "name": "Page feature",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "Show image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Add a subtitle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page features",
      "blocks": [
        {
          "type": "page_feature"
        },
        {
          "type": "page_feature"
        }
      ]
    }
  ]
}
{% endschema %}
