{{ 'product-promo-large.css' | asset_url | stylesheet_tag }}

<section is="product-promo-large" class="{% if section.settings.layout == 'right' %}swapped{% endif %}">
  <div is="gallery">
    {% for media in section.settings.product.media limit:3 %}
      <div>
        <img
          src="{{ media | img_url: '800x' }}"
          alt="{{ media.alt }}"
          loading="lazy"
        />
      </div>
    {% endfor %}
  </div>
  <div is="content">
    {%- if section.settings.product.metafields.product.is_new == true -%}
      <div class="new">New</div>
    {%- endif -%}
    <h1>{{ section.settings.product.title }}</h1>
    {%- if section.settings.product.metafields.product.pieces != blank -%}
      <div class="meta">
        <div>
          <h3>{{ section.settings.product.metafields.product.age_range }} age</h3>
        </div>
        <div>
          <h3>{{ section.settings.product.metafields.product.pieces }} pcs</h3>
        </div>
      </div>
    {%- endif -%}
    <div class="description"><p>{{ section.settings.text }}<p></div>
    <div is="call-to-action">
      <p is="product-price">{{ section.settings.product.price | money }}</p>
      <form method="post" action="/cart/add">
        <input type="hidden" name="id" value="{{ section.settings.product.variants.first.id }}" />
        <input type="hidden" min="1" type="number" id="quantity" name="quantity" value="1"/>
        <button type="submit" value="Add">Add to cart</button>
      </form>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product promo large",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Add a title"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "info": "Optional"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"      
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Image alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "gallery_image",
      "name": "Gallery image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product promo large",
      "blocks": [
        {
          "type": "gallery_image"
        },
        {
          "type": "gallery_image"
        },
        {
          "type": "gallery_image"
        }
      ]
    }
  ]
}
{% endschema %}
