{{ 'product.js' | asset_url | script_tag }}
{{ 'expand-text.js' | asset_url | script_tag }}
{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'gallery.css' | asset_url | stylesheet_tag }}

<div is="product">
  
  <div class="product-item" data-id="{{ product.variants.first.id }}" data-main-product="true">
    <section>
      <div is="gallery">
        {%- if product.metafields.product.is_new == true -%}
          <div class="new">✨New✨</div>
        {%- endif -%}
        <div>
          <img
            class="page-image"
            data-index="1"
            srcset="
              {{ product.featured_image | img_url: '320x' }} 320w,
              {{ product.featured_image | img_url: '500x' }} 500w,
              {{ product.featured_image | img_url: '740x' }} 740w,
              {{ product.featured_image | img_url: '1000x' }} 1000w"
            src="{{ product.featured_image | img_url: '500x' }}"
            sizes="calc(100vw - 2rem)"
            width="1000"
            loading="lazy"
            height="750"
            alt="{{ product.featured_image.alt | escape }}"
          />
          {% for media in product.media offset:1 %}
            {{ index}}
            <img
              class="page-image"
              data-index="{{ forloop.index | plus: 1 }}"
              src="{{ media | img_url: '800x' }}"
              alt="{{ media.alt | escape  }}"
              loading="lazy"
              width="800"
              height="600"
            />
          {% endfor %}
        </div>
      </div><!--End gallery> -->

      <div is="product-content">
        <div is="product-info">
          <header>
            <h1>{{ product.title }}</h1>
            <p is="product-price">{{ product.price | money }}</p>
          </header>

          {% form 'product', product %}
            <select name="id" hidden>
              {%- for variant in product.variants -%}
                <option selected="selected" value="{{ variant.id }}"></option>
              {%- endfor -%}
            </select>
            {%- if product.available -%}
              <input min="1" type="number" id="quantity" name="quantity" value="1"/>
              <button type="submit" class="add-to-cart">
                Add to Cart
              </button>
            {%- else -%}
              <p>Sold Out</p>
            {%- endif -%}
          {% endform %}
        </div>

        {% render 'delivery', expanded: true %}

        {%- if product.metafields.product.pieces != blank -%}
          <div class="meta">
            <div>
              <h4>Age range</h4>
              <h3>{{ product.metafields.product.age_range }}</h3>
            </div>
            <div>
              <h4>Pieces</h4>
              <h3>{{ product.metafields.product.pieces }}</h3>
            </div>
          </div>
        {%- endif -%}
        

        <div class="description" id="description-text">{{ product.description }}</div>

        {%- if product.metafields.custom.instructions.value -%}
          <div class="meta-instructions">
            <a href="https://{{ shop.permanent_domain }}/cdn/shop/{{ product.metafields.custom.instructions.value }}" download>Download instructions</a>
          </div>
        {%- endif -%}

        {%- if product.metafields.product.pack_length != blank -%}
          <div class="meta-dimensions">
            <div>
              <h5>Dimensions</h5>
              <p>
                <span>{{product.metafields.product.pack_length.value | remove: " "}}</span>
                <span>x {{product.metafields.product.pack_width.value | remove: " "}}</span>
                <span>x {{product.metafields.product.pack_depth.value | remove: " "}}</span>
              </p>
            </div>
            {%- if product.metafields.product.pack_weight != blank -%}
              <div>
                <h5>Weight</h5>
                <p>{{product.metafields.product.pack_weight.value | remove: " "}}</p>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

        

        {% render 'universal-features-mini' %}

        

        {% comment %} {% render 'sharing' %} {% endcomment %}
      </div><!--End product content> -->
    </section>

    <div id="gallery-lightbox">
      <div class="container">
        {% for media in product.media %}
          <img
            class="image"
            data-index="{{ forloop.index }}"
            src="{{ media | img_url: '800x' }}"
            alt="{{ media.alt | escape  }}"
            loading="lazy"
            width="800"
            height="600"
          >
        {% endfor %}
      </div>
      <div id="close-button">
        <div class="icon close"></div>
      </div>
    </div><!--End lightbox -->

  </div>
</div>
