{% comment %} {{ 'sort_collections.js' | asset_url | script_tag }} {% endcomment %}
{{ 'product-promos.css' | asset_url | stylesheet_tag }}

<section is="section">
  
  {% render 'section-header', title: section.settings.title, text: section.settings.text %}

  {%- assign collection = collections[section.settings.collection] -%}

  {% comment %} <select id="sort-by">
    {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}>
    {% for option in collection.sort_options %}
      {% unless option.value contains 'title-ascending' or option.value contains 'title-descending' %}
        <option value="{{ option.value }}"{% if sort_by == option.value %} selected="selected"{% endif %}>{{ option.name }}</option>
      {% endunless %}
    {% endfor %}
  </select>

  <h1>LOL {{ sort_by }} </h1>

  {% assign products = collection.products | sort: 'created-ascending' %}  {% endcomment %}

  {% assign products = collection.products %}

  {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

    <div is="product-promos">
      <div>
        {% for product in products limit: product_limit %}
          {%- if product.available -%}
            {% render 'product-promo', product: product %}
          {%- endif -%}
        {% endfor %}
      </div>
    </div>

  {% render 'signpost', section: section, button: true, center: true %}

</section>

{% schema %}
{
  "name": "Product promos",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Add a title"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "info": "Optional"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_signpost_link",
      "label": "Show 'View all' link",
      "default": false
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "name": "Product promos"
    }
  ]
}
{% endschema %}
