{{ 'hero.css' | asset_url | stylesheet_tag }}

{% comment %} style="background-image: url({{ section.settings.image | img_url: 'master' }})" {% endcomment %}
<section is="split-hero">
  <div is="main-promo">
    <a href="{{ section.settings.link_url_a }}">
      <div>        
        <img
          src="{{ section.settings.image_a | img_url: 'master' }}"
          alt="{{ section.settings.image_a.alt }}"
          is="in-action"
          loading="lazy"
          width="1200"
          height="800"
          />
          <div is="split-hero-content" style="background: {{ section.settings.bg_color_a }}">
            <div>
              <h4 style="color: {{ section.settings.text_color_a }} !important">{{ section.settings.subtitle_a | escape }}</h4>
              <h1 style="color: {{ section.settings.text_color_a }} !important">{{ section.settings.heading_a | escape }}</h1>
            </div>
            <div is="button">{{ section.settings.link_text_a }}</div>
          </div>
      </div>
    </a>
  </div>
  <div is="sub-promo">
    <a href="{{ section.settings.link_url_b }}">
      <div>        
        <img
          src="{{ section.settings.image_b | img_url: 'master' }}"
          alt="{{ section.settings.image_b.alt }}"
          is="in-action"
          loading="lazy"
          width="800"
          height="500"
          />
          <div is="split-hero-content" style="background: {{ section.settings.bg_color_b }}">
            <div>
              <h4 style="color: {{ section.settings.text_color_b }} !important">{{ section.settings.subtitle_b | escape }}</h4>
              <h1 style="color: {{ section.settings.text_color_b }} !important">{{ section.settings.heading_b | escape }}</h1>
            </div>
            <div is="button">{{ section.settings.link_text_b }}</div>
          </div>
      </div>
    </a>
  </div>
</section>

{% schema %}
{
  "name": "Split Hero",
  "settings": [
    {
      "id": "heading_a",
      "type": "text",
      "label": "Main promo heading",
      "default": "Add a title"
    },
    {
      "id": "subtitle_a",
      "type": "text",
      "label": "Main promo subtitle",
      "default": "Add a subtitle"
    },
    {
      "type": "text",
      "id": "link_text_a",
      "label": "Main promo link text"
    },
    {
      "type": "url",
      "id": "link_url_a",
      "label": "Main promo link URL"
    },
    {
      "id": "image_a",
      "type": "image_picker",
      "label": "Main promo Image"
    },
    {
      "type": "color",
      "id": "bg_color_a",
      "label": "Main promo background color",
      "default": "#EBEDFA"
    },
    {
      "type": "color",
      "id": "text_color_a",
      "label": "Main promo text color",
      "default": "#0A122A"
    },
    {
      "id": "heading_b",
      "type": "text",
      "label": "Sub promo heading",
      "default": "Add a title"
    },
    {
      "id": "subtitle_b",
      "type": "text",
      "label": "Sub promo subtitle",
      "default": "Add a subtitle"
    },
    {
      "type": "text",
      "id": "link_text_b",
      "label": "Sub promo link text"
    },
    {
      "type": "url",
      "id": "link_url_b",
      "label": "Main promo link URL"
    },
    {
      "id": "image_b",
      "type": "image_picker",
      "label": "Sub promo image"
    },
    {
      "type": "color",
      "id": "bg_color_b",
      "label": "Sub promo background color",
      "default": "#EBEDFA"
    },
    {
      "type": "color",
      "id": "text_color_b",
      "label": "Sub promo text color",
      "default": "#0A122A"
    }
  ],
  "presets": [
    {
      "name": "Split Hero"
    }
  ]
}
{% endschema %}
