{{ 'warning-banner.css' | asset_url | stylesheet_tag }}

{% if section.settings.show_banner == true %}
  <section is="warning-banner">
    <div>
      <div>
        {% if section.settings.heading != blank %}
          <h4>{{ section.settings.heading | escape }}</h4>
        {% endif %}
        {% if section.settings.text != blank %}
          <p>{{ section.settings.text | escape }}</p>
        {% endif %}
        {%- if section.settings.link_url != blank -%}
          <a href="{{ section.settings.link_url }}" is="text-button" class="small">{{ section.settings.link_text }}</a>
        {%- endif -%}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Warning banner",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "id": "text",
      "type": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "checkbox",
      "id": "show_banner",
      "label": "Show banner",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Warning banner"
    }
  ]
}
{% endschema %}
