<div is="cart">
  <h1>Your cart {%- if cart.item_count == 0 %} is empty.{%- endif -%}</h1>
  <form action="/cart" method="post">
    {%- if cart.item_count > 0 -%}
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          {%- for item in cart.items -%}
            <tr>
              <td>
                <a href="{{ item.url | within: collections.all }}">
                  <img
                    src="{{ item | img_url: '200x200' }}"
                    alt="{{ item.image.alt | escape }}"
                    width="100"
                    height="100">
                    {{ item.product.title }}
                </a>
              </td>
              <td>{{ item.price | money }}</td>
              <td>
                <label for="updates_{{ item.id }}">Quantity</label>
                <input type="number"
                  name="updates[]"
                  size="2"
                  id="updates_{{ item.id }}"
                  value="{{ item.quantity }}" />
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
        <tfoot>
          <tr>
            <th scope="row">Total</th>
            <td>{{cart.total_price | money }}</td>
            <td colspan="2"><button is="command" type="submit">Update</button></td>
          </tr>
        </tfoot>
      </table>
      <div>
        <button type="submit" name="checkout">Proceed to checkout</button>
        {% include 'delivery' %}
      </div>
    {%- endif -%}
  </form>
  <p><a href="/products" is="signpost">Continue shopping</a></p>
</div>
